<div class="container">




<table class="table table-striped">
<tr align="center">
     <th>User Name</th>
    
  </tr>
<% obj.each do |u|%>

  <tr align="center">
     <td><%= u.username%></td>
     
  </tr>
  <% end %>  
</table>
