<div class="container">




<table class="table table-success table-striped">
  <tr>
     <th>User Name</th>
     
  </tr>
  
  
  <% @usr.each do |u|%>

  <tr>
     <td><%= u.username%></td>
     
   
   
     
     

     
  </tr>
  <%end%>
</table>

</div>
